<% for (var i = 0, len = items.length; i < len; i++) { var item = items[i]; %>
  <% for (var j = 0, l = item.length; j < l; j++) { var value = item[j]; %>
    <h1>第<%- j %>个</h1>
    <p>
      娃哈哈AD钙奶，好吃又好喝！
    </p>
    <a>现在是北京时间：<%- value %>点
  <% } %>
<% } %>
