<!DOCTYPE html>
<html>
<head>
  <title>演示</title>
  <meta charset="utf-8">
  <style>
body {
  max-width: 800px;
  margin: auto;
  border: 1px solid #CCC;
  padding: 20px;
}
  </style>
</head>
<body>

{% include "header" %}

{% if files <> nil %}
<h1>目录列表</h1>
<ul>
  {% for item in files %}
  <li><a href="/?path={{ item | resolve_path }}">{{ item }}</a></li>
  {% endfor %}
</ul>
{% endif %}

{% if file <> nil %}
<h1>文件内容</h1>
<a href="/?path={{ filename | resolve_path: '..' }}">&le;&le;返回</a>
<pre>
  {{ file }}
</pre>
{% endif %}

{% include "bottom" %}

</body>
</html>